* {
  border: 1px solid red;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  justify-content: center;
}

nav {
  position: fixed;
}

/* ul {
  width: 50%;
  float: right;
} */

li {
  display: inline-block;
}

.logo {

}