/* * {
  border: 1px solid red;
} */

h2, h4 {
  margin: 15px auto;
  display: flex;
  justify-content: center;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
}

.mid-image img {
  height: 200px;
  width: 300px;
}

.logo {
  height: 50px;
  margin-left: 10px;
}

.menu li {
  display: inline-flex;
  justify-content: space-around;
  padding: 10px;
  text-decoration: underline;
}

.top-container {
  background: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg") center center no-repeat;
  display: flex;
  height: 700px;
  justify-content: center;
  align-items: center;
}

.top-banner {
  width: 100%;
  background-color: black;
}

.mid-container {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  /* flex-basis: 1000px; */
}

.images-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  padding: 50px;
}

.mid-image {
  padding: 20px;
}

.locations-container {
  background: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg") center no-repeat;
  height: 500px;
  display: flex;
  justify-content: center;
}

.locations-container-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.locations-cards-container {
  /* display: flex;
  justify-content: space-evenly; */
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.locations-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 300px;
  padding-bottom: 25px;
}



